/* Reinicio básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 200vh; /* deja espacio para hacer scroll */
  background: #000;
  overflow-x: hidden;
}

/* Contenedor principal */
.scene {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Capas base */
.scene img {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  top: 0;
  left: 0;
  transition: transform 0.1s linear;
}

/* Si quieres tamaños específicos para ciertos elementos */
.master-chief {
  width: 60%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  height: auto;
}

.logo-halo {
  width: 40%;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
}

.contenido {
            padding: 50px 20px;
            background-color: #0b4d67;
            text-align: center;
            min-height: 500px;
            color: white;
            font-family: Arial, sans-serif;
        }